layout.css


@CHARSET "UTF-8";
/*공통*/
#wrap{position:relative;clear:both; margin:10px; }
#contents{position:relative;clear:both;}


#wrap h1{color:#736357;line-height:40px;}
#wrap .c_text{font-size:12px;line-height:40px;}
#wrap .flatbtn{color:#8c6239;text-decoration:underline;}


#loginmodal{border:3px solid #705c3b;background:#fff;}
#loginmodal h2{color:#636363;font-size:24px;line-height:40px;}
#loginmodal .p_c_text{font-size:12px;line-height:24px;}
#loginmodal .login_line{margin:10px 0 0;height:80px;}
#loginmodal .box_in{float:left;margin:0 80px 0;color:#000;}
#loginmodal input{width:120px;height:24px;display:block;margin:3px 0 0;}
#loginmodal .btn_login1{width:72px;height:60px;background:#363636;color:#e1e1e1;float:left;line-height:60px;margin-left:-60px}
#loginmodal .find_join{clear:both;margin:20px 0 0 10px;}

/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#loginmodal {
  width:400px; height:300px;  /*팝업창의 크기조절*/
  padding: 18px;
  background:#3d3d3d; color:#fff; 

  position:absolute; top:0px; left:39%; text-align:center; 
  border:2px solid #000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}



