@CHARSET "UTF-8";

.omu {margin-top:20px}
div.container{
	background-color: azure;
}
/* mycontent */
.mycontent {width:1000px;margin-top:10px;margin-bottom:50px;margin-left:auto;margin-right:auto}
.image_pro{width:200px;height:200px;border-radius:100px;overflow:hidden}

/* top */
.top {padding:10px;}
.top .pro {float:left} 
.top ul {float:right;width:250px;text-aling:center;margin-top:30px}
.top ul li {text-align:center}
.top ul .soo {font-size:20px;font-weight:bold}
.top ul .top_menu {font-size:15px}
.top .pro_modi {float:right;width:700px;height:30px;border:solid 1px #69ABED;text-align:center;margin:20px 25px 0 0;background-color:#69ABED;}
.top .pro_modi1{float:right;width:700px;height:30px;border:solid 1px #F78181;text-align:center;margin:20px 25px 0 0;background-color:#F78181;}
.top .pro_modi1 a{font-weight: bold; color:#fff; text-decoration: none; font-size:16px; line-height:30px}
.top .pro_modi1 img{margin-top:-5px;margin-left:20px;}
.top .pro_name {margin-top:220px;width:200px;text-align:center; font-size:20px; font-weight: bold; }
.top .pro_modi a{font-weight: bold; color:#fff; text-decoration: none; font-size:16px; line-height:30px}
.top ul#followingList,.top ul#followerList{padding:2px; display:none; position:absolute; background-color:#fff; width: 150px; max-height:250px; margin-left:50px; font-size:12px; color:#69ABED; font-weight: bold;  overflow-y:scroll;margin-top:0px; overflow-x:none; }
.top ul#followingList li,.top ul#followerList li {padding:5px; width: 130px; height: 40px; margin-bottom:5px;}
.top ul#followingList li img,.top ul#followerList li img {width: 35px; height: 35px; border-radius:25px; margin-right:20px; float:left; margin-left:7px;}
.top ul#followingList div,.top ul#followerList div{height: 30px; float:left; width: 58px; margin-top:10px}

/* menu */ 
.menu {width:1000px;height:120px;border:solid 1px #000;}
.menu ul {float:left;width:31.3%;height:100px;margin:10px}
.menu ul li img{margin-left:90px; height:100px;}
.menu ul#squaresStyle{border-right:solid 1px #000;}
.menu ul#menuStyle{border-right:solid 1px #000;border-left: solid 1px #000;}
.menu ul#mapStyle{border-left:solid 1px #000;}


/* content */
.content ul.squares {float:left; width:312px;height:250px;border:solid 1px #ededed;margin:10px;}
.content ul.squares li img{ width: 310px; height: 248px;}

.content div.menuView { display:none; width:98%;height:400px;border:solid 1px #ededed;margin:10px;}
.content div.menuView div#menuTitleImage{margin:5px 5px;width: 480px; height:400px; float:left;position:absolute;}
.content div.menuView div#menuTitleImage img{width: 100%;}
.content div.menuView div#menuContext{margin-left:500px; border:solid 1px #ededed;height:390px; padding:3px;}
.content div.menuView div#menuName{margin-top:10px; border-bottom:solid 1px #ededed; background-color:#69ABED; color:#Fff;}
.content div.menuView div#menuMessage{margin-top:10px; border:solid 1px #ededed; height: 180px;}
.content div.menuView div#menuPhoto{margin-top:10px; border:solid 1px #ededed; height: 100px; padding-left:35px; background-color:#69ABED;}
.content div.menuView div#menuPhoto div#menuImages{width: 70px; height: 40px; margin:5px 5px; float: left; background-color:#fff;}
.content div.menuView div#menuPhoto div#menuImages img{width:100%;height: 100%;}
.content div.menuView div#menuComment{border:solid 1px #ededed; margin-top:10px; background-color:#69ABED;}
.content div.menuView div#menuComment span#goods{margin-left:20px;}
.content div.menuView div#menuComment span#reply{margin-left:20px;}
.content div.menuView div#menuComment a{color:#fff; text-decoration: none; font-weight: bold; cursor: pointer; }
.content div.menuView img{float:left; width: 500px; height: 390px;}
.content div.menuView div.menuComments{background-color:#fff;250px; position:relative; display:none;}

.content div.menuView div.menuComments div#viewCommentsList{background-color: #ededed; max-height:180px; overflow-y:scroll; padding:5px;}
.content div.menuView div.menuComments div#viewCommentsList div#viewComments div#commentsPhotoV{ height: 60px; width: 60px; float:left;}
.content div.menuView div.menuComments div#viewCommentsList div#viewComments div#commentsPhotoV img{ height: 100%; width: 100%; }
.content div.menuView div.menuComments div#viewCommentsList div#viewComments div#commentsNameV{ height: 60px; width: 60px; float:left; line-height: 60px; text-align: center;}
.content div.menuView div.menuComments div#viewCommentsList div#viewComments div#commentsMessageV{margin-left: 10px; height: 40px; width: 230px; float:left; line-height: 40px;}
.content div.menuView div.menuComments div#viewCommentsList div#viewComments div#commentsRegDate{margin-left: 10px;height: 40px; width: 70px; float:left; font-size:8px;color:#b0b0b0; line-height: 40px;}
.content div.menuView div.menuComments div#viewCommentsList div#viewComments div#replyFn{ margin-left:128px; }
.content div.menuView div.menuComments div#viewCommentsList div#viewComments div#replyFn span a{font-size:8px;}

.content div.menuView div.menuComments div#viewCommentsList div#viewComments div.commentsReply{margin-left:120px; max-height: 200px; width: 300px;position: relative; display:none;}

.content div.menuView div.menuComments div#writeReply{margin-top:10px; height:50px;}
.content div.menuView div.menuComments div#writeReply div#replyUserW{ width:100px; height: 50px; float:left;}
.content div.menuView div.menuComments div#writeReply div#replyContentsW{ margin-left: 10px; width:190px;height: 50px; float:left;}
.content div.menuView div.menuComments div#writeReply div#replyUserW div#replyPhotoW{ width:50px; height: 50px; float:left; padding:3px;}
.content div.menuView div.menuComments div#writeReply div#replyUserW div#replyPhotoW img{ width: 100%; height: 100%;}
.content div.menuView div.menuComments div#writeReply div#replyUserW div#replyNameW{ width:50px; height: 50px; float:left; padding:3px; line-height: 50px; text-align: center;}
.content div.menuView div.menuComments div#writeReply div#replyContentsW div#replyMessageW{background-color:#fff; margin-top:10px; width:160px; float:left;}
.content div.menuView div.menuComments div#writeReply div#replyContentsW div#replyMessageW input{width: 100%;}
.content div.menuView div.menuComments div#writeReply div#replyContentsW div#replyWriteButton{margin-left:5px; margin-top:17px;width: 20px; height:20px; float:left;}
.content div.menuView div.menuComments div#writeReply div#replyContentsW div#replyWriteButton img{ width: 100%; height:100%;}

.content div.menuView div.menuComments div#viewReplyList{background-color: #ededed; max-height:180px; padding:3px; margin-left:-2px;}
.content div.menuView div.menuComments div#viewReplyList div#viewReply div#replyPhotoV{ height: 50px; width: 50px; float:left; padding:3px;}
.content div.menuView div.menuComments div#viewReplyList div#viewReply div#replyPhotoV img{ height: 100%; width: 100%; }
.content div.menuView div.menuComments div#viewReplyList div#viewReply div.replyNameV{ height: 50px; width: 50px; float:left; line-height: 50px; text-align: center; font-size:12px;}
.content div.menuView div.menuComments div#viewReplyList div#viewReply div#replyMessageV{margin-left: 10px; height: 30px; width: 120px; float:left; line-height: 30px; font-size:12px; overflow-y:scroll;}
.content div.menuView div.menuComments div#viewReplyList div#viewReply div#replyRegDate{margin-left: 10px;height:30px; width: 50px; float:left; font-size:8px;color:#b0b0b0; line-height: 30px;}
.content div.menuView div.menuComments div#viewReplyList div#viewReply div#replyReplyFn{ margin-left:110px;}
.content div.menuView div.menuComments div#viewReplyList div#viewReply div#replyReplyFn span a{font-size:10px;}



.content div.menuView div.menuComments div#writeComments{margin-top:10px; height:70px; padding:5px;}
.content div.menuView div.menuComments div#writeComments div#commentsUserW{ width:120px; height: 60px; float:left;}
.content div.menuView div.menuComments div#writeComments div#commentsContentsW{ margin-left: 10px; width:330px; height: 60px; float:left;}
.content div.menuView div.menuComments div#writeComments div#commentsUserW div#commentsPhotoW{ width:60px; height: 60px; float:left; padding:3px;}
.content div.menuView div.menuComments div#writeComments div#commentsUserW div#commentsPhotoW img{ width: 100%; height: 100%;}
.content div.menuView div.menuComments div#writeComments div#commentsUserW div#commentsNameW{ width:60px; height: 60px; float:left; padding:3px; line-height: 60px; text-align: center;}
.content div.menuView div.menuComments div#writeComments div#commentsContentsW div#commentsMessageW{ margin-left: 10px; margin-top:18px; width:270px; float:left;}
.content div.menuView div.menuComments div#writeComments div#commentsContentsW div#commentsMessageW input{width: 100%;}
.content div.menuView div.menuComments div#writeComments div#commentsContentsW div#writeButton{ margin-left:10px; margin-top:20px; width: 25px; height:25px; float:left;}
.content div.menuView div.menuComments div#writeComments div#commentsContentsW div#writeButton img{ width: 100%; height:100%;}
.content div.menuView div.menuComments div.commentsReply{}


div#info{padding: 5px; width:250px; height: 122px; font-size:12px;}
div#info img{border:1px solid #000; width: 100px; height: 111px;  float:left; margin-right:10px;}
div#info div#tl{width:120px; margin-left:110px;height: 25px; line-height: 25px; font-size: 100%; font-weight: bold; text-align: center; color:#69ABED;}
div#info div#goToPlan {	border: 1px solid #69ABED;background-color:#69ABED;	margin-top:20px;margin-right:-3px;float:right;width: 50px;height: 40px;}
div#info div#goToPlan a{margin-left:10px;	text-decoration: none;	color:#fff; 	font-size:15px; 	font-weight:bold; 	line-height: 40px;}
div#map {width: 98%; height: 600px; margin:20px 10px;}

/*modal*/
div#modifyForm {display:none;}
div#modifyForm div#modify{width:620px;height:300px;background-color:#fff;font-color:#c7c7c7;font-size:15px;padding:10px; }
div#modifyForm div#modifyTitle{background-color: #69ABED; width: 100%;height: 30px; color:#fff; font-size:18px; text-align: center; line-height: 30px;}
div#modifyForm a#modifyPhoto{border: 1px solid #69ABED; background-color: #69ABED; text-decoration: none; color:#000; font-weight: bold; padding:10px; position:fixed; margin-top:212px; margin-left:-82px; color:#fff}
div#modifyForm div#modifyImage{margin:20px 20px; float:left; width: 200px; height: 180px;}
div#modifyForm div#modifyImage img{width: 100%; height: 100%;}
div#modifyForm div#modifyContent{margin-top:20px; float:left;width: 340px; height: 180px;}
div#modifyForm div#modifyContent div#modifyName{ width: 100%; height: 30px; font-size:16px;}
div#modifyForm div#modifyContent div#modifyName input{width: 200px; float: right;}
div#modifyForm div#modifyContent div#checkPass {margin-top:10px; width: 100%; height: 30px; line-height: 30px;}
div#modifyForm div#modifyContent div#checkPass a{text-decoration: none; font-size:16px;}
div#modifyForm div#modifyContent div#pass {display:none;margin-top:10px; width: 100%; height: 150px; line-height: 75px; font-size:16px;}
div#modifyForm div#modifyContent div#pass input{width: 200px; float: right; margin-top:20px;}
div#modifyForm div#modifyContent input[type="submit"]{border: 1px solid #69ABED; padding:10px; float:right; font-weight: bold; background-color: #69ABED; color:#fff}

/* bottom */
