@CHARSET "UTF-8";

.omu {margin-top:20px}

/* mycontent */
.mycontent {width:1000px;border:solid 1px #000;margin-top:10px;margin-bottom:50px;margin-left:auto;margin-right:auto}
.image_pro{width:200px;height:200px;border-radius:100px;overflow:hidden}

/* top */
.top {padding:10px;}
.top .pro {float:left} 
.top ul {float:right;width:250px;text-aling:center;margin-top:30px}
.top ul li {text-align:center}
.top ul .soo {font-size:20px;font-weight:bold}
.top ul .top_menu {font-size:15px}
.top .pro_modi {float:right;width:700px;height:30px;border:solid 1px #69ABED;text-align:center;margin:20px 25px 0 0;background-color:#69ABED;}
.top .pro_name {margin-top:220px;width:200px;text-align:center; font-size:20px; font-weight: bold; }
.top .pro_modi a{font-weight: bold; color:#fff; text-decoration: none; font-size:16px; line-height:30px}
.top ul#followingList,.top ul#followerList{display:none; position:fixed; background-color:#fff; width: 150px; max-height:250px; margin-left:50px; font-size:12px; color:#69ABED; font-weight: bold;  overflow-y:scroll;margin-top:0px;}
.top ul#followingList li,.top ul#followerList li {padding:10px;}
.top ul#followingList p,.top ul#followerList p{ height:20px;font-size:16px; padding-top:0;padding-bottom:20px; background-color:#69ABED; color:#fff;}

/* menu */ 
.menu {width:1000px;height:120px;border:solid 1px #000;}
.menu ul {float:left;width:31.3%;height:100px;margin:10px}
.menu ul li img{margin-left:90px; height:100px;}
.menu ul#squaresStyle{border-right:solid 1px #000;}
.menu ul#menuStyle{border-right:solid 1px #000;border-left: solid 1px #000;}
.menu ul#mapStyle{border-left:solid 1px #000;}


/* content */
.content ul.squares {float:left; width:312px;height:250px;border:solid 1px #ededed;margin:10px;}
.content ul.squares li img{ width: 310px; height: 248px;}

.content ul.menuView { display:none; width:98%;height:400px;border:solid 1px #000;margin:10px;}
.content ul.menuView li{margin-left:520px; border:solid 1px #000;}
.content ul.menuView li#comment{margin-top:300px; border:solid 1px #000;}
.content ul.menuView img{float:left; width: 500px; height: 390px;}

div#map {width: 98%; height: 600px; margin:10px 10px;}
/* bottom */
