@CHARSET "UTF-8";

.omu {margin-top:20px}

/* mycontent */
.mycontent {width:1000px;margin-top:10px;margin-bottom:50px;margin-left:auto;margin-right:auto}
.image_pro{width:200px;height:200px;border-radius:100px;overflow:hidden}

/* top */
.top {padding:10px;}
.top .pro {float:left} 
.top ul {float:right;width:250px;text-aling:center;margin-top:30px}
.top ul li {text-align:center}
.top ul .soo {font-size:20px;font-weight:bold}
.top ul .top_menu {font-size:15px}
.top .pro_modi {float:right;width:700px;height:30px;border:solid 1px #69ABED;text-align:center;margin:20px 25px 0 0;background-color:#69ABED;}
.top .pro_modi1{float:right;width:700px;height:30px;border:solid 1px #F78181;text-align:center;margin:20px 25px 0 0;background-color:#F78181;}
.top .pro_modi1 a{font-weight: bold; color:#fff; text-decoration: none; font-size:16px; line-height:30px}
.top .pro_modi1 img{margin-top:-5px;margin-left:20px;}
.top .pro_name {margin-top:220px;width:200px;text-align:center; font-size:20px; font-weight: bold; }
.top .pro_modi a{font-weight: bold; color:#fff; text-decoration: none; font-size:16px; line-height:30px}
.top ul#followingList,.top ul#followerList{display:none; position:fixed; background-color:#fff; width: 150px; max-height:250px; margin-left:50px; font-size:12px; color:#69ABED; font-weight: bold;  overflow-y:scroll;margin-top:0px;}
.top ul#followingList li,.top ul#fo llowerList li {padding:10px;}
.top ul#followingList li img,.top ul#followerList li img {margin-left:0px;width: 35px; height: 35px; border-radius:25px; margin-right:20px;}
.top ul#followingList p,.top ul#followerList p{ height:20px;font-size:16px; padding-top:0;padding-bottom:20px; background-color:#69ABED; color:#fff;}

/* menu */ 
.menu {width:1000px;height:120px;border:solid 1px #000;}
.menu ul {float:left;width:31.3%;height:100px;margin:10px}
.menu ul li img{margin-left:90px; height:100px;}
.menu ul#squaresStyle{border-right:solid 1px #000;}
.menu ul#menuStyle{border-right:solid 1px #000;border-left: solid 1px #000;}
.menu ul#mapStyle{border-left:solid 1px #000;}


/* content */
.content ul.squares {float:left; width:312px;height:250px;border:solid 1px #ededed;margin:10px;}
.content ul.squares li img{ width: 310px; height: 248px;}

.content div.menuView { display:none; width:98%;height:400px;border:solid 1px #ededed;margin:10px;}
.content div.menuView div#menuTitleImage{margin:5px 5px;width: 480px; height:400px; float:left}
.content div.menuView div#menuTitleImage img{width: 100%;}
.content div.menuView div#menuContext{margin-left:500px; border:solid 1px #ededed;height:390px; padding:3px;}
.content div.menuView div#menuName{margin-top:10px; border-bottom:solid 1px #ededed; background-color:#69ABED; color:#Fff;}
.content div.menuView div#menuMessage{margin-top:10px; border:solid 1px #ededed; height: 180px;}
.content div.menuView div#menuPhoto{margin-top:10px; border:solid 1px #ededed; height: 100px; padding-left:35px; background-color:#69ABED;}
.content div.menuView div#menuPhoto div#menuImages{border:solid 1px #ededed;width: 70px; height: 40px; margin:5px 5px; float: left; background-color:#fff;}
.content div.menuView div#menuPhoto div#menuImages img{width:100%;height: 100%;}
.content div.menuView div#menuComment{border:solid 1px #ededed; margin-top:10px; background-color:#69ABED;}
.content div.menuView div#menuComment span#goods{margin-left:20px;}
.content div.menuView div#menuComment span#reply{margin-left:20px;}
.content div.menuView div#menuComment a{color:#fff; text-decoration: none; font-weight: bold; cursor: pointer; }
.content div.menuView img{float:left; width: 500px; height: 390px;}

div#info{padding: 5px; width:250px; height: 122px; font-size:12px; }
div#info img{border:1px solid #000; width: 100px; height: 111px;  float:left; margin-right:10px;}
div#info div#tl{width:120px; margin-left:110px;height: 25px; line-height: 25px; font-size: 100%; font-weight: bold; text-align: center; color:#69ABED}
div#info div#goToPlan {	
			border: 1px solid #69ABED;
			background-color:#69ABED;
			margin-top:20px;
			margin-right:-3px;
			float:right;
			width: 50px;
			height: 40px;
}
div#info div#goToPlan a{
			margin-left:10px;
		 	text-decoration: none;
		 	color:#fff;
		 	font-size:15px;
		 	font-weight:bold;
		 	line-height: 40px;
}
div#map {width: 98%; height: 600px; margin:20px 10px;}
/* bottom */
