@CHARSET "UTF-8";

.omu {margin-top:20px}

/* mycontent */
.mycontent {width:1000px;border:solid 1px #000;margin-top:10px;margin-bottom:50px;margin-left:auto;margin-right:auto}
.image_pro{width:200px;height:200px;border-radius:100px;overflow:hidden}

/* top */
.top {padding:10px;}
.top .pro {float:left} 
.top ul {float:right;width:250px;text-aling:center;margin-top:30px}
.top ul li {text-align:center}
.top ul .soo {font-size:20px;font-weight:bold}
.top ul .top_menu {font-size:15px}
.top .pro_modi {float:right;width:700px;height:30px;border:solid 1px #000;text-align:center;margin:20px 25px 0 0}
.top .pro_name {margin-top:200px;width:200px;border:solid 1px #000;text-align:center}

/* menu */ 
.menu {width:1000px;height:120px;border:solid 1px #000;}
.menu ul {float:left;width:31.3%;height:100px;border-right:solid 1px #000;border-left:solid 1px #000;margin:10px}
.menu ul li img{margin-left:90px; height:100px;}


/* content */
.content ul#squares {float:left;width:312px;height:250px;border:solid 1px #000;margin:10px;}
.content ul#squares li img{padding:3px; width: 309px; height: 245px;}

.content ul#menuView { display:none; width:98%;height:400px;border:solid 1px #000;margin:10px;}
.content ul#menuView li img{padding:3px; width: 100%; height: 230px;}

div#map { display:none; width: 100%; height: 600px;}
/* bottom */
