@CHARSET "EUC-KR";

.ivory {
/* 	padding : auto 5px; */
	background-color:#F2F2EC;
/* 	border : 2px solid #4396E8; */
}
hr{
	border-top: 3px double #8c8b8b;
}

.wsTable {
border : 2px solid #4396E8;
	 
}
.wsTable table{
	
	width:100%;
	
	margin: 0 auto;
}
.wsTable td {
	padding : 5px;
	text-align : center;
}

.wsTable th {
	padding : 5px;
	text-align : center;
}

.wsTable .nct{
	text-align : left;
}

.wsTable .messagebox{
	height : 100px;
	padding: 15px 10px;
	text-align : center;
	width : 632px;
	bgcolor : #FFFFFF;
}
/* .wsfd{ */
/* 	background: #66FFFF; */
/* } */
.wshd{
	color: #fff;
 	background: #69ABED;
}



.wshd select{
	width:100%;
	color:#aaa;
}
.wsBox {
	width:20%;
/* 	border : 2px solid #4396E8; */
}
.wsBox table{
	background : #fff;
	
}

.wsButton {
	background-color:#FEE8EE;
	padding:5px 10px; 
	margin:3px; 
	border:2px solid #FDB7C8;
}


.selectedTheme{
	background : #FED4DE;
}

.effect td.even:hover { 
    background-color: skyblue;
    cursor: pointer;
}
.effect td.even:active{ 
    background-color: #fff;
    cursor: pointer;
}
.effect td:hover { 
    background-color: skyblue !important;;
    cursor: pointer;
}
.effect td:active{ 
    background-color: #fff;
    cursor: pointer;
}
.themeBox{
	height:160px; 
	background-repeat:no-repeat; 
	background-size:100% 100%;
	border-radius: 5px;
	vertical-align : bottom;
	color:#fff;
/* 	-webkit-filter : grayscale(100%); */
}
.themeBox div{
	height : 25px;
	line-height: 25px;
	padding:3px auto;
	background-color: #5CB8E6;
	border-radius: 5px;
	text-align:center;
	border:3px solid #E0F5FF;
}
#themeDiv {
	overflow:scroll;
	width:100%; 
	height:550px;
	border-radius: 5px;
/* 	border-top: 1px double #8c8b8b; */
/* 	border-bottom: 1px double #8c8b8b; */
}
#themeTable {
	border-collapse: separate; 
	border-spacing: 5px;
}

.themeBox:hover {
/* 	-webkit-filter : none; */
	cursor: pointer;
	 opacity: 0.7;
}

.searchTm {
	width: 100%;
	height : 40px;
	border-radius: 5px;
	background-color : #9DD4F0;
}
.searchTm input{
	width: 98%;
	margin-top: 7px;
	border-radius: 5px;
}
.checkTm {
/* 	-webkit-filter : grayscale(100%); */
}
.checkTm span{
	height:100px;
	content:url("/assets/img/1443700632_map-marker.png");
}

.submitTm {
	height:50px;
	border-radius: 5px;
	background-color : #5CB8E6;
	border:3px solid #E0F5FF;
	color : #fff;
	font-size: 150%;
	font-weight: bold;
	cursor: pointer;
}
.scrollist{
	height:70px;
}
.scrollist{
/* overflow:auto; */
overflow:scroll;
overflow-x: hidden;
/* scrollbar-3dlight-color:gold; */
/* scrollbar-arrow-color:#E0F5FF; */
/* scrollbar-face-color &#58; #000000; */
/* scrollbar-highlight-color &#58; #000000; */
/* scrollbar-3dlight-color &#58; #000000; */
/* scrollbar-shadow-color &#58; #000000; */
/* scrollbar-darkshadow-color &#58; #000000; */
/* scrollbar-track-color &#58; #000000; */
/* scrollbar-arrow-color &#58; #000000; */
}

.events {
	background-color : #8533FF;
}